<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-signin-client_id" content="773030837576-mb6laefvimhncanbipn897ac0cq1nq0h.apps.googleusercontent.com">
    <link rel="icon" href="../../favicon.ico">

    <title>Signin</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <form class="form-signin" method="POST" action="/dologin" >
        <div id="err_mes">
        {{if eq .flag `1`}}
          <div id="err_mes"><div class="alert alert-danger" >Invalid Username or Password</div></div>
        {{end}}
        </div>
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <input type="hidden" name="type" value="manual">
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <center>Or</center>
        <div class="g-signin2" id="my-signin2"data-onsuccess="onSignIn" data-theme="dark"></div>
       
        <div class="checkbox">
          <div>
            Not yet register? <a href="/signup">click here</a>
          </div>
          <div>
            Forgot password? <a href="/forgotpassword">click here</a>
          </div>
        </div>
      </form>



 
    
   



    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
     <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
        
        $.post("/dologin",
              {
                tokenid : id_token ,
                type :"googleauth"
              }
            ,
            function(data,status){
                if(data.Message!="Success"){
                  $("#err_mes").html('<div class="alert alert-danger" role="alert">'+data.Message+'</div>')
                }else{
                  window.location.href = "/ProfilePageHandler?userid="+data.Userid
                }
            });
        signOut()  

      };

      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
        });
      }


    /*function onSuccess(googleUser) {
      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    }*/
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 300,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSignIn,
        'onfailure': onFailure
      });
    }


    </script>
     <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
  </body>
</html>
