<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-signin-client_id" content="773030837576-mb6laefvimhncanbipn897ac0cq1nq0h.apps.googleusercontent.com">
    <link rel="icon" href="../../favicon.ico">

    <title>Signup</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet" type="text/css"/>
  </head>

  <body>

    <div class="container">

      <form class="form-signin" id="signup_form" method="Post" action="/passwordreset">
      {{if eq .flag `1`}}
      <div id="err_mes"><div class="alert alert-info" >Password Reset successs, <a href="/">click here</a> to login</div></div>
      {{else}}  
      
        <h2 class="form-signin-heading">Password Reset</h2>
        <div class="form-group row">
          <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address"  readonly="" value="{{.email}}" required autofocus>
        </div>
        <div class="form-group row">
          <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        </div>
        <div class="form-group row">
          <input type="password" name="repassword"  class="form-control" placeholder="Re-Password" required>
        </div>
        <input type="hidden" name="type" value="manual">
        <button class="btn btn-lg btn-primary btn-block" data-loading-text="Loading..." type="submit" autocomplete="off">Reset</button>
      {{end}}
      </form>
    

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>

  <script>
  $(document).ready(function() {
      $('#signup_form').bootstrapValidator({
          // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
          feedbackIcons: {
              valid: 'glyphicon glyphicon-ok',
              invalid: 'glyphicon glyphicon-remove',
              validating: 'glyphicon glyphicon-refresh'
          },
          fields: {
              password: {
                  validators: {
                      identical: {
                          field: 'repassword',
                          message: 'Confirm your password below - type same password please'
                      },
                      stringLength: {
                            min: 4,
                            message: 'password must be minimum of 4 digits'
                        },
                      notEmpty: {
                            message: 'Please supply your password'
                        }
                  }
              },
              repassword: {
                  validators: {
                      identical: {
                          field: 'password',
                          message: 'The password and its confirm are not the same'
                      },
                      stringLength: {
                            min: 4,
                            message: 'password must be minimum of 4 digits'
                        },
                      notEmpty: {
                            message: 'Please confirm password'
                        }
                      
                  }
               },
           
            }
          })
      
    
          .on('success.form.bv', function(e) {
              $('#success_message').slideDown({ opacity: "show" }, "slow") // Do something ...
                  $('#signup_form').data('bootstrapValidator').resetForm();

              // Prevent form submission
              e.preventDefault();

              // Get the form instance
              var $form = $(e.target);

              // Get the BootstrapValidator instance
              var bv = $form.data('bootstrapValidator');

              // Use Ajax to submit form data
              $.post($form.attr('action'), $form.serialize(), function(result) {
                  console.log(result);
              }, 'json');
          });
  });
  
</script>



  </body>
</html>
