<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">

    <link rel="icon" href="../../favicon.ico">

    <title>My Profile</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/narrow-jumbotron.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">My Profile</h3>
      </div>
        {{if eq .is_success `1`}}
        <div class="alert alert-success" role="alert">Edit Success!</div>
        {{end}}
        <div class="row">
          <a href="/EditProfilePageHandler?userid={{.userid}}" class="btn btn-primary">Edit</a>
          <table class="table table-bordered">
            <tr>
              <td>Full name : </td>
              <td>{{.fullname}}</td>
            </tr>
            <tr>
              <td>Address : </td>
              <td>{{.address}}</td>
            </tr>
            <tr>
              <td>Email : </td>
              <td>{{.username}}</td>
            </tr>
            <tr>
              <td>Telephone : </td>
              <td>{{.telephone}}</td>
            </tr>
          </table>

        </div> 
      

      <footer class="footer">
        <p>&copy; Company 2017</p>
      </footer>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script type="text/javascript">


     

      

    

    </script>
  </body>
</html>
